$headerColor: #333736;
$netflexColor: #c15d69;

.movieDetailsContainer {
  display: flex;
  flex-direction: column;

  height: 300px;
  padding: 20px 50px;
  background-color: $headerColor;
  color: white;

  .movieDetailsContainer-header {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .neflixroulette {
      color: $netflexColor;
    }

    .redirect {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 110px;
      font-weight: bold;
      background-color: white;
      color: $netflexColor;
      text-decoration: none;
      border: none;
    }
  }

  .movieContainer {
    display: flex;
    height: 280px;

    img.moviePoster {
      height: 260px;
      width: auto;
    }
    .movieInformation {
       margin-left: 70px;
  }
  }

}